html {
	height:100%;
}

body {
	height: 100%;
}

#index-link {
	display:block;
	height:100%;
	width:100%;
}

.logo {
	display: block;
	height:25%;
	width:25%;
    margin: auto;
    margin-top: 50px;
    padding:10px;
}


#navbar {
	background-color: teal;
	width:100%;
	height:50px;
	position:fixed;
	top: 0;
	z-index: 1;
}

ul {
	list-style-type: none;
	margin:auto;
}

li {
	display: inline;
	margin:50px;
}

a {
	color:#FFFFFF;
	text-decoration: none;
}

.section-title {
	background-color: teal;
	color:#FFFFFF;
	text-align: center;
	width:100%;
}

#story {
	height: auto;
}

#map {
	height:80%;
	width:100%;
	margin-left: 1px;
}

#contact {
	text-align: center;
}

#newsletter {
	text-align: center;
}

input {
	width:400px;
	line-height: 2;
	padding:2px;
	margin: 5px;
}

#message {
	height:200px;
}

#menu {
	width:100%;
	height:100%;
	margin:auto;
}

.card {
	margin-top: 10px;

}

.card-title {
	text-align: center;
}

.icon {
	color:#000000;
	font-size: 50px;
}

footer {
	background-color: teal;
	text-align:center;
	font-size: 80%;
	color:#FFFFFF;
	padding: 30px;
	margin:auto;
	width:100%;
	bottom:0;
	left:0;
	clear:both;
}